body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: black;
}

body, p, input, textarea, label {
  font-family: 'Inter', sans-serif;
}

button, .btn {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

#myVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  filter: brightness(0.4);
  z-index: -2;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  z-index: -1;
}

.container {
  width: 80%;
  margin: 80px auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
  font-size: 50px;
}

h4 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 10px;
  font-size: 30px;
}

p{
  text-align: center;
}

.event-card {
  background: rgba(255,255,255,0.15);
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 20px;
}

.back-btn {
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  color: #ffd166;
  font-weight: 600;
}

.events-container {
  max-width: 1000px;
  margin: 120px auto;
  color: white;
  text-align: center;
}

.event-card {
  background: rgba(255,255,255,0.12);
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 18px;
  text-align: left;
  backdrop-filter: blur(8px);
  transition: 0.3s ease;
}

.event-card:hover {
  transform: translateY(-4px);
  background: rgba(255,255,255,0.18);
}

.event-card h3 {
  margin: 0 0 8px;
  color: #ffd369;
}

.event-time {
  font-size: 0.85em;
  opacity: 0.8;
}


.logout-btn-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
}

.logout-btn {
  display: inline-block;
  padding: 10px 18px;
  background-color: #8759fb;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  border: 2px solid #a076ee;
  transition: 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

.logout-btn:hover {
  background-color: #8e7eb3;
}