<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Event | EventEdge</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/create_event.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/favicon.ico') }}">

</head>
<body class="event-form-body">

  <!-- Background Video -->
  <video autoplay muted loop id="myVideo">
    <source src="{{ url_for('static', filename='bg.mp4') }}" type="video/mp4">
  </video>
  <div class="overlay"></div>
  <!-- Progress Bar -->
   <body class="step-1">

<div class="progress-container">
  <div class="progress-line"></div>

  <div class="progress-step active">
    <span>1</span>
    <p>Create Event</p>
  </div>

  <div class="progress-step">
    <span>2</span>
    <p>Core Committee</p>
  </div>

  <div class="progress-step">
    <span>3</span>
    <p>Meetings</p>
  </div>

  <div class="progress-step">
    <span>4</span>
    <p>Review</p>
  </div>

  <div class="progress-step">
    <span>5</span>
    <p>Send Emails</p>
  </div>
</div>


  <div class="form-container">
    <h1>Create Event</h1>
    <form method="POST" action="/create-event">
      <label>Event Name:</label>
      <input type="text" name="event_name" required>

      <label>Department:</label>
      <input type="text" name="department" required>

      <label>Event Date:</label>
      <input type="date" name="event_date" required>

      <label>Event Head Name:</label>
      <input type="text" name="head_name" required>

      <label>Event Head Email:</label>
      <input type="email" name="head_email" required>
      <span class="error-msg" id="EmailError">(Please use your @josephscollege.ac.in email)</span>

      <label>Faculty Coordinator Name:</label>
      <input type="text" name="faculty_name" required>

      <label>Faculty Coordinator Email:</label>
      <input type="email" name="faculty_email" required>
      <span class="error-msg" id="EmailError">(Please use your @josephscollege.ac.in email)</span>

      <button type="submit">Next ➜</button>
    </form>
  </div>

  <!-- Logout Button -->
<div class="logout-btn-container">
  <a href="{{ url_for('welcome') }}" class="logout-btn">Logout</a>
</div>


</body>
</html>
