<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login | EventEdge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/favicon.ico') }}">

</head>
<body>

  <!-- Background Video -->
  <video autoplay muted loop id="myVideo">
    <source src="{{ url_for('static', filename='bg.mp4') }}" type="video/mp4">
  </video>
  <div class="overlay"></div>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}



  <!-- Login Card -->
  <div class="splash-container">
    <h1 class="app-title" style="font-size:3em;">Login</h1>

    <form method="POST" action="{{ url_for('login') }}" style="margin-top:30px;">
      <input type="email" name="email" placeholder="Email" required><br><br>
      <input type="password" name="password" placeholder="Password" required><br><br>

       <button type="submit" name="login_type" value="user">
    Login
  </button>
 
    </form>

    <p style="margin-top:20px;">
      Don’t have an account?
      <a href="{{ url_for('register') }}" style="color:#a076ee;">Register</a><br><br>
      Forgot Password? Contact Administrator.
    </p>
  </div>

  <button type="submit" formaction="/admin-login" onclick="goAdminLogin()" class="admin-btn">
  Admin Login
</button>

<script>function goAdminLogin() {
      window.location.href = "/admin-login";
    }</script>

</body>
</html>
