<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>View Events | EventEdge Admin</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/view_events.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/favicon.ico') }}">

</head>

<body>

  <!-- Background Video -->
  <video autoplay muted loop id="myVideo">
    <source src="{{ url_for('static', filename='bg.mp4') }}" type="video/mp4">
  </video>

  <div class="overlay"></div>

  <!-- Logout Button -->
   <div class="logout-btn-container">
   <a href="{{ url_for('welcome') }}" class="logout-btn">Logout</a>
   </div>

  <!-- Page Content -->
  <div class="events-container">
  <h1>📅 Created Events</h1>

  {% if events %}
    {% for event in events %}
      <div class="event-card">
        <h3>{{ event.name }}</h3>
        <p><strong>Head:</strong> {{ event.head_name }}</p>
        <p><strong>Created by:</strong> {{ event.created_by }}</p>
        <span class="event-time">
          {{ event.created_at.strftime('%d %b %Y • %I:%M %p') }}
        </span>
      </div>
    {% endfor %}
  {% else %}
    <p class="empty-text">No events created yet.</p>
  {% endif %}
</div>

</body>
</html>
